/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.content {
    margin-top: 20%;
}

/* Header */
header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    background-color: #000;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 20px;
}

#menu > li {
    margin-bottom: 1em;
}

.list {
    margin-left: 20px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#logo {
    font-family: "Alex Brush", sans-serif;
    font-weight: 200;
    font-size: 2.7rem;
    margin-left: 10px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    font-family: "Roboto Flex", sans-serif;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    margin-right: 20px;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Hero section */
.hero {
    font-size: 250%;
    margin: 30px;
    font-family: "Roboto Flex", sans-serif;
    margin-bottom: 100px;
}
.hero h1 {
    font-weight: 600;
}

#app{
    font-size:200%;
    animation: textclip 2s linear infinite;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  /* About section */
  .about {
    background-color: darkgray;
    min-height: 20%;
    margin-top: 100px;
    text-align: center;
    padding: 30px;
  }

  .about p {
    font-family: "Roboto Flex", sans-serif;
    margin-top: 20px;
    font-size: larger;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  /* Service section */
  .services a {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    font-size: 0.8125rem;
    letter-spacing: 1px;
  }
  
  .services p {
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
    color: #fff;
  }
  
  .services {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }
  
  .service a {
    color: #5b7abb;
    display: block;
  }
  
  .service h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
  }
  
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .service {
    background: #000;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    transition: all 0.3s ease;
  }
  
  .service:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  }
  
  .service i {
    font-size: 3.45rem;
    margin: 1rem 0;
  }
  
  .service1 i,
  .service1 h4,
  .service1 .cta {
    color: #fff;
  }
  
  .service1:hover {
    border: 2px solid #fff;
  }
  
  .service2 i,
  .service2 h4,
  .service2 .cta {
    color: #fff;
  }
  
  .service2:hover {
    border: 2px solid #fff;
  }
  
  .service3 i,
  .service3 h4,
  .service3 .cta {
    color: #fff;
  }
  
  .service3:hover {
    border: 2px solid #fff;
  }
  
  .service .cta span {
    font-size: 0.6rem;
  }
  
  .service > * {
    flex: 1 1 100%;
  }
  
  .service .cta {
    align-self: flex-end;
  }


  
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 4rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 400%;
        margin-left: 20px;
        font-weight: 100;
    }

    .content {
        margin-top: 10%;
    }

    .hero {
        font-size: 500%;
        margin: 30px;
        font-family: "Roboto Flex", sans-serif;
    }
}


  

  
  @media all and (max-width:900px) {
    .services-grid {
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
    }
  }